VITE_FIREBASE_API_KEY=AIzaSyBkxV72Jefo-ZN9HXTTAApzWPiAuB-fn7w
VITE_FIREBASE_AUTH_DOMAIN=prime-focus-services.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=prime-focus-services
VITE_FIREBASE_STORAGE_BUCKET=prime-focus-services.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=939430515884
VITE_FIREBASE_APP_ID=1:939430515884:web:372f7c363f4af4be55bb09
